body{
background-image: url(code4.jpg);
margin: 0;

}


header{
  width:100%;
  height: 330px;
}
.image{
  width: 330px;
  height:330px;
  padding-left: 10px;
  float: left;
}
header h1{
  display: block;
  text-align: center;
  font-size: 70px;
  padding-top: 20px;


    font-family: 'Spicy Rice', cursive;


  padding-bottom: 10px;
}
header h2{
  display: block;
  text-align: center;


    font-family: 'Spicy Rice', cursive;


  font-size: 40px;
}
.profile{
  display: block;
background-color: #fffb75;
margin: 20px auto 0 auto;
width: 1000px;
margin-bottom: 20px;
}
.profile h4{
  display: block;
  text-align: center;
  font-size: 35px;
  padding-top: 20px;


    font-family: 'Spicy Rice', cursive;


padding-bottom: 0;
margin: 0;
}
.profile p{
  display: block;
  text-align: center;
  font-size: 25px;
  padding-top:  10px;
padding-bottom: 10px;
margin: 0;
font-family: 'Baloo Thambi 2', cursive;

}

.objective{
  display: block;
background-color: #fffb75;
margin: 0 auto;
width: 1000px;
}
.objective h4{
  display: block;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  padding-bottom: 0;


    font-family: 'Spicy Rice', cursive;


  margin-bottom: 0;
}
.objective p{
  display: block;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin-top: 0;
  font-family: 'Baloo Thambi 2', cursive;
}

.qualifications{
  display: block;
background-color: #fffb75;
margin: 0 auto;
width: 1000px;
}
.qualifications ul li{
  display: block;
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 20px;
  padding: 10px;}
  .qualifications ul li a {
  text-decoration: none;
  font-family: 'Baloo Thambi 2', cursive;
}
.qualifications ul{
margin-top: 0;
}
.qualifications h4{
  display: block;
  text-align: center;
  font-size: 35px;
  padding: 20px;


    font-family: 'Spicy Rice', cursive;


  margin-bottom: 0;
  padding-bottom: 0;

}
.education{
background-color: #fffb75;
margin: 0 auto;
width: 1000px;
}
.education h4{
  text-align: center;


    font-family: 'Spicy Rice', cursive;


  font-size: 35px;
  padding: 20px;
}

.education .edu1{
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 25px;
  padding: 10px;
  background-color: #d3d3d3;
  width: 500px;
  margin:0 auto;
  margin-bottom: 20px;
}
.education .edu2{
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 25px;
  padding: 10px;
  background-color: #d3d3d3;
  width:500px;
  margin: 0 auto;
  margin-bottom: 20px;

}
.education .edu3{
  text-align: center;
  font-size: 25px;
  font-family: 'Baloo Thambi 2', cursive;
  padding: 10px;
  background-color: #d3d3d3;
  width:500px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.education .edu1 p a {
text-decoration: none;
font-family: 'Baloo Thambi 2', cursive;
}
.education .edu2 p a
{
  text-decoration: none;
  font-family: 'Baloo Thambi 2', cursive;

}
.workshop{
  display: block;
background-color: #fffb75;
margin: 0 auto;
width: 1000px;
}
.workshop ul{
  width: 500px;
  margin: 0 auto;
  padding-right: 0;
}
.workshop ul li{
  font-size: 25px;
  padding: 10px;
font-family: 'Baloo Thambi 2', cursive;
  display: list-item;
}
.workshop ul li a{
  text-decoration: none;
}
.workshop h4{
  display: block;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;


    font-family: 'Spicy Rice', cursive;


}
.skills{
  display: block;
background-color: #fffb75;
margin: 0 auto;
width: 1000px;
}
.skills ul{
  width: 500px;
  margin: 0 auto;
  padding-right: 0;
}
.skills ul li{
  display: list-item;
  font-size: 25px;
  font-family: 'Baloo Thambi 2', cursive;
  padding: 10px ;
  margin: 0;
  padding: 0;
  padding: 10px 0 ;
}

.skills h4{
  text-align: center;


    font-family: 'Spicy Rice', cursive;


  font-size: 35px;
  padding: 20px;
  padding-bottom: 0;
  margin: 0;
}
.image1{

padding: 0;
height: 20px;
width:20px;
}
.image2{
padding: 0;
height: 20px;
width:20px;
}
.image3{
  margin: 0 auto;
padding: 0;
height: 20px;
width:20px;
}
footer ul li {
list-style: none;
  display: inline;
}
footer ul li a{
text-decoration: none;
}
footer {
  background-color: #fff8dc;
}
